{% extends "wrapper.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Обзор стуктуры</h3>
            <!-- Панель НАВИГАЦИОННАЯ-->
            {% include 'line.html' %}
        </div>
        <div class="panel-body">
            <!-- Панель НАВИГАЦИОННАЯ-->
            {% include 'infopanel.html' %}


            <!-- Начало структуры по складам-->

            <div class="panel-body">
                <div class="row">
                    <!-- TODO: Цикл по складам -->
                    {% for l in lgorts %}
                    <div class="col-md-6">
                        <div class="panel panel-info" href="#">
                            <div class="panel-heading"><a href="/reporting/structure/whs/{{ l.id}}">{{ l.name }} </a>
                                <!-- TODO: Вписать Склад --></div>
                            <div class="panel-body">
                                <div class="row">
                                    {% for i in lowers %}
                                    {% if i.parent_id == l.id %}
                                    <div class="col-md-6">
                                        <a href="/reporting/structure/whs/{{ i.id}}">
                                            <button type="button" class="btn btn-primary btn-sm btn-block">{{ i.name }}

                                            </button>
                                        </a>
                                        <p>

                                        </p>
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- TODO: Конец Цикл по складам -->
                </div>
            </div>
        </div>
        <!-- Конец структуры по складам-->
    </div>
</div>
<!-- END OVERVIEW -->
{% endblock %}